body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
}

footer {
    margin-top: 100px;
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.footer-about {
    display: flex;
}
.footer-container div {
    flex: 1;
    margin: 10px;
}

.footer-container h2 {
    color: #f4b41a;
    margin-bottom: 10px;
}

.footer-container p, .footer-container a {
    color: white;
    text-decoration: none;
}

.footer-links ul {
    list-style-type: none;
    padding: 0;
}

.footer-links ul li {
    margin: 5px 0;
}
.footer-social {
    display: flex;
    flex-direction: column;
}
.footer-social a {
    margin: 5px 10px;
}

.footer-social img {
    width: 24px;
    height: 24px;
}

.footer-bottom {
    background-color: #222;
    padding: 10px 0;
    margin-top: 20px;
}
