@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto Condensed", sans-serif;
    list-style: none;
    scroll-padding-top: 4rem;
    text-decoration: none;
}

img {
    width: 100%;
}

html {
    scroll-behavior: smooth;
}

a {
    list-style: none !important;
    text-decoration: none;
    cursor: pointer;
}

header {
    height: 84px;
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    align-items: center;
    transition: 0.5s linear;
    background: rgba(0, 0, 0, 0.5);
}

.logo img {
    margin-top: 10px;
    width: 100%;
}

.nav-bar {
    display: flex;
    margin: 0;
}

.nav-bar>li>a {
    padding: 0 17px;
    color: #fff;
    line-height: 84px;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
}

.nav-bar a:hover {
    color: #ec9d48;
    border-radius: 0.2rem;
    transition: 0.3s all;
}

.sub {
    position: relative;
}

.subnav {
    height: 200px;
    width: 100%;
    z-index: 999;
    list-style-type: none;
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
    animation: modalFadeIn ease 0.6s;
}

.nav-bar li:hover .subnav {
    display: flex;
    justify-content: center;
}


.subnav li a {
    min-width: 100px;
    padding: 0 20px;
    color: #fff;
    font-weight: bolder;
}

.subnav li a:hover {
    color: rgba(233, 139, 39, 0.8);
    ;
}
.lv2_title {
    flex-shrink: 1;
    flex-basis: 0%;
}
.lv2_title a {
    display: block;
    color: #000;
    padding: 0;
    font-size: 20px;
}
.menu_child_lv3 {
    padding-left: 10px;
    margin-top: 10px;

}
.menu_child_lv3 > li {
    margin-bottom: 4px;
}
.lv3_title a {
    display: block;
    font-size: 14px;
    padding: 0;
    line-height: 22px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.6);
}
.header-icon {
    font-size: 22px;
    cursor: pointer;
    z-index: 100;
    display: inline-block;
    column-gap: 0.8rem;
}
#user-icon {
    position: relative;
}
.dropdown-content {
    display: none;
    height: 100px;
    width: 291px;
    margin-top: 25px;
    position: absolute;
    background-color:rgba(0, 0, 0, 0.5);
    min-width: 160px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
    z-index: 3;
}
.dropdown-content form {
    display: flex;
    align-items: center;
}
.header-i {
    color: #fff;
    padding: 30px 10px;
}

.header-icon :hover {
    color: #ec9d48;
}

@keyframes modalFadeIn {
    from {
        opacity: 0;
        transform: translateY(100px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.button {
    position: relative;
    overflow: hidden;
    height: 3rem;
    padding: 0 2rem;
    border-radius: 1.5rem;
    background: #3d3a4e;
    background-size: 400%;
    color: #fff;
    border: none;
    cursor: pointer;
}
.button:hover::before {
    transform: scaleX(1);
}

.button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: 0 50%;
    width: 100%;
    height: inherit;
    border-radius: inherit;
    background: linear-gradient(82.3deg,
            rgb(233, 139, 39) 10.8%,
            rgb(188, 176, 6) 94.3%);
    transition: all 0.475s;
}

.button-content {
    position: relative;
    z-index: 99;
    font-size: 15px;
    line-height: 50px;
}
.login {
    margin-left: 15px;
}
.login:hover {
    color: #fff;
}
.button-content:hover {
    color: #fff;
}

