@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto Condensed", sans-serif;
    list-style: none;
    scroll-padding-top: 4rem;
    text-decoration: none;
}

img {
    width: 100%;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    cursor: pointer;
}

header {
    height: 69px;
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 100px;
    transition: 0.5s linear;
    background: rgba(0, 0, 0, 0.5);
}

.logo img {
    width: 100%;
}

.nav-bar {
    display: flex;
}

.nav-bar>li>a {
    padding: 25px 17px;
    color: #fff;
    line-height: 84px;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
}

.nav-bar a:hover {
    background-color: #fff;
    color: #000;
    border-radius: 0.2rem;
    transition: 0.3s all;
}

.header-icon {
    font-size: 22px;
    cursor: pointer;
    z-index: 100;
    display: flex;
    column-gap: 0.8rem;
}

.header-i {
    color: #fff;
}

.header-icon :hover {
    color: #000;
    background-color: #fff;
}

.login {
    padding: 3px;
}

.main {
    height: 1000px;
    margin: 0;
    padding: 0;
    background: url(./assest/img/loginimg.jpg);
    background-size: cover;
}